        <footer class="footer"> <!-- Sticky Footer -->
            <div class="container">
                <span class="">Copyright <i class="fa fa-copyright"></i> Brian T Drake</span>
            </div>
        </footer>